openapi: 3.0.3
info:
  version: 9dcb0dc8
  title: The SureVoIP RESTful API
  license:
    name: Proprietry
    url: https://api.surevoip.co.uk
  x-logo:
    url: 'https://www.surevoip.co.uk/sites/default/files/fbg_logo.png'
  description: >
    # Introduction

    Welcome to the SureVoIP RESTful hypermedia API (sometimes known as a VoIP
    REST API, Telecom REST API, SIP API, Hypermedia API or just VoIP API.)


    The SureVoIP API is a way for you to automate your interaction with the
    SureVoIP platforms. With the API, you can create your own scripts,
    applications or mashups which can:

    * List calls

    * create customers

    * search numbers

    * provision numbers

    * send SMS texts

    * create outbound calls

    * schedule announcements

    * schedule call hangups with an announcement

    * subscribe to events/alerts

    * track calls

    * retrieve invoices

    * grab your SIP details

    * check your IP address

    * be 100% self-sufficient

    * and much more!
  termsOfService: 'https://www.surevoip.co.uk/about/terms-conditions'
  contact:
    name: SureVoIP API Support
    email: support@surevoip.co.uk
    url: 'https://www.surevoip.co.uk/contact-surevoip'
servers:
  - url: 'https://api.surevoip.co.uk'
    description: Production SureVoIP API (live data)
  - url: 'https://sandbox.surevoip.co.uk'
    description: Sandbox SureVoIP API (data is 24 hours behind production)
security:
  - BasicAuth: []
  - OAuth2: []
tags:
  - name: announcements
    description: Announcements that can be played during or before a call
  - name: areacodes
    description: Areacodes of numbers that SureVoIP can supply
  - name: billing
    description: Billing details and invoices
  - name: calls
    description: Create phone calls via an API
  - name: charges
    description: Create a charge for a customer
  - name: contacts
    description: Create, List, Updated and Delete Contacts
  - name: customers
    description: Create, List, Updated and Delete Customers
  - name: echo
    description: Echo back your payload
  - name: faxes
    description: Send faxes - Not in service
  - name: hosted
    description: Create, List, Updated and Delete Hosted VoIP Customers
  - name: ip-address
    description: Show the originating IP address of your request
  - name: mobile
    description: Create, List, Updated and Delete SIMs
  - name: numbers
    description: Create, List, Updated and Delete Numbers (DDIs)
  - name: partners
    description: Create, List, Updated and Delete Partners and their customers
  - name: porting
    description: Create, List, Updated and Delete Number Porting requests
  - name: service-status
    description: List Services Statuses
  - name: sip
    description: List SIP details
  - name: sms
    description: Send SMS (text messages)
  - name: support
    description: List support details
  - name: topups
    description: Create call credit topups for customers
externalDocs:
  description: SureVoIP API Wiki
  url: 'https://www.surevoip.co.uk/support/wiki/api_documentation'


components:
  securitySchemes:
    BasicAuth:
      $ref: components/securitySchemes/BasicAuth.yaml
    OAuth2:
      $ref: components/securitySchemes/OAuth2.yaml
    OpenIDConnect:
      $ref: components/securitySchemes/OpenIDConnect.yaml

paths:
  /:
    $ref: ./paths/.yaml
  /announcements:
    $ref: ./paths/announcements.yaml
  /areacodes:
    $ref: ./paths/areacodes.yaml
  /billing:
    $ref: ./paths/billing.yaml
  /calls:
    $ref: ./paths/calls.yaml
  /charges:
    $ref: ./paths/charges.yaml
  /contacts:
    $ref: ./paths/contacts.yaml
  /customers:
    $ref: ./paths/customers.yaml
  '/customers/{account}':
    $ref: './paths/customers@{account}.yaml'
  '/customers/{account}/announcements':
    $ref: './paths/customers@{account}@announcements.yaml'
  '/customers/{account}/announcements/{announcement_id}':
    $ref: './paths/customers@{account}@announcements@{announcement_id}.yaml'
  /faxes:
    $ref: ./paths/faxes.yaml
  /hosted:
    $ref: ./paths/hosted.yaml
  /ip-address:
    $ref: ./paths/support@ip-address.yaml
  /mobile:
    $ref: ./paths/mobile.yaml
  /numbers:
    $ref: ./paths/numbers.yaml
  /numbers/areacodes:
    $ref: ./paths/numbers@areacodes.yaml
  /partners:
    $ref: ./paths/partners.yaml
  /porting:
    $ref: ./paths/porting.yaml
  /service-status:
    $ref: ./paths/support@service-status.yaml
  /sip:
    $ref: ./paths/sip.yaml
  /sms:
    $ref: ./paths/sms.yaml
  /support/echo:
    $ref: ./paths/support@echo.yaml
  /support/ip-address:
    $ref: ./paths/support@ip-address.yaml
  /support/service-status:
    $ref: ./paths/support@service-status.yaml
  /topups:
    $ref: ./paths/topups.yaml
